@charset "UTF-8";
/* Demo */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1500;
  transition: opacity 500ms ease-in-out;
}

.page-loader {
  width: 40px;
  height: 40px;
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  background-color: #333;
  background: #007bff;
  border-radius: 100%;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation: pulse-load 1200ms infinite ease-in-out;
  animation: pulse-load 1200ms infinite ease-in-out;
}

@-webkit-keyframes pulse-load {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse-load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}




.page-content {
  position: relative;
  background: #fafafa;
  padding-top: 5.3125rem;
}

.page-content:before {
  content: '';
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0);
}

.page-content .color-wrapper {
  float: left;
}

@media (max-width: 575.98px) {
  .page-content .color-wrapper {
    float: none;
    max-width: 230px;
    margin: 0 auto;
  }
}

.page-content .color {
  padding: 25px 20px;
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.page-content .color:last-child {
  margin-right: 0;
}

.page-content .color .swatch {
  position: relative;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  width: 110px;
  height: 110px;
}

.page-content .color .title {
  display: inline-block;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  font-size: 1rem;
}

.page-content .color .hex-value {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #8f99ac;
  font-size: 12px;
  text-transform: uppercase;
}

.page-content .content .example {
  margin: 45px 0 60px 0;
}

.page-content .content .example.emphasized {
  padding: 25px 20px;
  background: #fff;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.page-content .content .table {
  background: #fff;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.page-content .content .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f8fb;
}

.page-content .content .table td,
.page-content .content .table th {
  padding: 30px 25px;
}

.page-content .content .table th {
  padding: 15px 25px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #9ba4ae;
  border: none;
}

.page-content .content .table tbody td {
  font-size: 0.8125rem;
  vertical-align: middle;
}

.page-content .content .table tbody td h1,
.page-content .content .table tbody td h2,
.page-content .content .table tbody td h3,
.page-content .content .table tbody td h4,
.page-content .content .table tbody td h5,
.page-content .content .table tbody td h6,
.page-content .content .table tbody td p {
  margin: 0;
  line-height: 1;
}

.page-content .content .table tbody td p {
  font-size: 1rem !important;
}

@media (max-width: 767.98px) {
  .sm-hidden {
    display: none;
  }
}

.ll-image {
  text-indent: -9000px;
}

.hidden {
  opacity: 0;
}

.slide-in {
  will-change: transform;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  transition: opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-in.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 991.98px) {
  #cards .last {
    display: block !important;
  }
}

@media (max-width: 767.98px) {
  #cards .card {
    max-width: 350px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  #progress-bars .pb-widths {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 767.98px) {
  #popups-popovers .row > div {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 420px) {
  #popups-popovers button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  #badges .badge {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  #forms .custom-dropdown-example {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .custom-controls-example {
    width: 100%;
    max-width: 100%;
    -ms-flex: none;
        flex: none;
    display: block;
    padding: 0 !important;
    margin-bottom: 1.5rem;
  }
  .custom-controls-example:last-child {
    margin-bottom: 0;
  }
}

#documentation {
  border-top: 1px solid #ddd;
}

.footer-cta {
  padding: 100px 0;
}

.main-footer a:hover {
  text-decoration: none;
}

/* Landing */
.haniffa-landing-page .welcome {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url(../img/welcome-cover.webp) no-repeat center center fixed;
    background-size: cover;
  }
  
  .haniffa-landing-page .welcome:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #007bff;
  }
  
  @media (max-width: 767.98px) {
    .haniffa-landing-page .welcome .inner-wrapper {
      text-align: center;
    }
  }
  
  @media (max-width: 400px) {
    .haniffa-landing-page .welcome .welcome-heading {
      font-size: 2.415rem;
    }
  }
  
  .haniffa-landing-page .section-title {
    position: relative;
  }
  
  .haniffa-landing-page .section-title:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #007bff;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
  }
  
  .haniffa-landing-page .feature .icon {
    border-radius: 50%;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
    font-size: 27px;
  }
  
  .haniffa-landing-page .section {
    border-bottom: 1px solid #eaebed;
  }
  
  .haniffa-landing-page .section-invert {
    background: #f9fafc;
  }
  
/* Custom */
.navbar-brand img {
	width:50px;
}
body {
	font-size: 1.3rem;
}
body .lead {
	font-size: 1.45rem;
}
ul.navbar-nav,
.welcome-heading,
.text-white  {
	font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.footer-cta {
	position: relative;
	background: url(../../assets/img/footer-cover.webp) no-repeat center center fixed;
	background-size: cover; 
	z-index:1;
	padding: 100px 0;
}  
.footer-cta:after {
	position: absolute;
	z-index: -2;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .9;
	background: #212529;        
} 
.footer-cta > * {
	z-index: 100;
}
.team-card {
    padding: 25px 20px;
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 25px rgba(40,47,60,.05), 0 20px 25px rgba(40,47,60,.05), 0 3px 4px rgba(40,47,60,.05);
}  
.team-card img {
    position: relative;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    width: 210px;
    max-width:100%;
}
.team-card .name {
    display: inline-block;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 100%;
    font-size: 1rem;
}
.team-card .position {
    font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #8f99ac;
    font-size: 12px;
	text-transform: uppercase;
	min-height:3em;
}
.navbar-dark .navbar-nav .nav-link {
	color:#fff;
	font-weight:400;
}
#introduction .lead {
	font-size: 160%;
	line-height: 140%;
}

.haniffa-landing-page .top {
    position: relative;
    min-height: 105.953px;
    background: url(../img/welcome-cover.webp) no-repeat center center fixed;
    background-size: cover;
}
.haniffa-landing-page .top:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #007bff;
}
.haniffa-landing-page .top .container {
	min-height: 115px;
}

.profile-img {
	box-shadow: 0px 0px 18px 0px rgba(51,51,51,0.4);

}
a.team-card-link,
a.team-card-link:hover {
	color: inherit;
	text-decoration: none;
}

.team-profile span.team-position {
	display:block;
    font-family: "Roboto Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #8f99ac;
    font-size: 16px;
    text-transform: uppercase;
}
.publication .authors {
    color: #8f99ac;
    font-size: 16px;
    margin: 0;
}
.publication .journal {
    font-family: "Roboto Mono", Menlo, Monaco,Consolas, "Liberation Mono", "Courier New", monospace;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}





.haniffa-landing-page .app-screenshot {
    background: url("../../assets/img/app-cover.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;    
    background-size: cover;
  }
  .haniffa-landing-page .section-title.underline--left:after {
    left: 0;
    margin-left: 0;
}
  .haniffa-landing-page .app-screenshot:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e9ecef;
    opacity: .6;
  }
  
  .haniffa-landing-page .app-screenshot img {
    max-width: 500px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    box-shadow: 0 13px 25px rgba(0, 0, 0, 0.05), 0 60px 100px rgba(192, 192, 192, 0.5);
  }
  
  @media (max-width: 1500px) {
    .haniffa-landing-page .app-screenshot img {
        max-width: 400px;
    }
  }
  @media (max-width: 1200px) {
    .haniffa-landing-page .app-screenshot img {
        max-width: 300px;
    }
  }
  @media (max-width: 991.98px) {
    .haniffa-landing-page .app-screenshot img {
        max-width: 75%;
        display: table;
        position: static;
        -webkit-transform: translate(0);
                transform: translate(0);
        margin: 0 auto;
    }
  }
  
  .haniffa-landing-page .feature .icon {
    border-radius: 50%;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
    font-size: 27px;
  }
  
  @media (max-width: 767.98px) {
    .haniffa-landing-page .feature .icon {
      margin-right: 1.5rem !important;
    }
  }

.engagement-block .engagement-wrapper {
  padding: 20px 0;
  text-decoration: none;
}
@media (max-width: 850px) {
  .engagement-block .engagement-wrapper {
    min-width: 100%;
  }
}
.engagement-block .engagement-wrapper.c1 {
    background: #1c1e21;
}
.engagement-block .engagement-wrapper.c2 {
    background: #212529;
}
.engagement-block .engagement-wrapper.c3 {
    background: #1c1e21;
}
.engagement-block .engagement-wrapper.c4 {
    background: #212529;
}
.engagement-block .engagement-wrapper.c5 {
    background: #1c1e21;
}
.engagement-block .engagement-wrapper.c6 {
    background: #212529;
}
.engagement-block .engagement-wrapper:hover {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.engagement-block .engagement-wrapper:hover h2,
.engagement-block .engagement-wrapper:hover h5 {
  color: #fff!important;
}

#aims {
	position: relative;
	background: url(../../assets/img/aims-cover.webp) no-repeat center center fixed;
	background-size: cover; 
	z-index:1;
	padding: 100px 0;
}  

.partner-logo {
    height: 60px;
    margin: 10px;
    transition: transform .2s;
    border-radius: 10px;
}
.partner-logo:hover {
    transform: scale(1.1);
}

#research a .card-body {
    color: #5a6169;
}
#research a:hover {
    text-decoration: none;
}
.list-item-title {
    display:block;
    font-size:85%;
    font-weight:300;
    color:#8f99ac;
}
.student-quote {
    font-size:30px;;
    text-align: justify;
    font-style: italic;
    margin: 0 80px 80px 80px;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
.student-quote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 250px;
    position: absolute;
    left: -80px;
    top: -96px;
    color: #8f99ac;
    opacity: 0.3;
}



.article h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
  margin-bottom: 20px;
}
.article p {
  text-align: justify;
  text-justify: inter-word;
}
