---
layout: default
---
<div class="article section py-4">
    <h2 class="section-title text-center m-5">{{ page.title }}</h2>
    <div class="container py-2">
        <div class="col-md-12 ml-auto mr-auto text-center">
            {% for category in page.tags %}
            <span class="badge badge-secondary">{{category}}</span>
            {% endfor %}            
        </div>
    </div>    
    <div class="container py-5">
        <div class="col-md-12 ml-auto mr-auto">          
            {{ content }}
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-md-10 col-sm-12 student-quote">
              {{ page.quote }}
            </div>
          </div>        
    </div>
</div>
