---
layout: default
---
<!-- Our Services Section -->
<div id="our-services" class="our-services section py-4">
  <h3 class="section-title text-center my-5">Aims</h3>
  <!-- Page Content -->
  <div class="page-content">
    <!-- Content -->
      <div class="content clearfix">
        <div id="introduction" class="container mb-5">
          <div class="col-lg-8 col-md-10 ml-auto mr-auto text-center">
            <p class="lead">Nam lacus mi, volutpat ut tempor et, rutrum maximus nulla. Ut tincidunt dictum pretium. Praesent quam nibh, suscipit eu est id,
              condimentum finibus orci. Aliquam a semper sem. In hac habitasse platea dictumst.
            </p>
          </div>
        </div>
        <!-- Features -->
        <div class="features py-4 mb-4">
          <div class="container">
            <div class="row">
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i></div>
                <div class="px-4">
                  <h5>Science is real</h5>
                  <p>Ut vel purus nec felis ultrices consectetur. Quisque ultricies risus quis volutpat bibendum.</p>
                </div>
              </div>
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-code"></i></div>
                <div class="px-4">
                  <h5>Love is love</h5>
                  <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-font"></i></div>
                <div class="px-4">
                  <h5>Black lives matter</h5>
                  <p>Fusce lobortis, nisi vitae lobortis ornare, tortor quam maximus justo, pulvinar sollicitudin turpis urna sodales purus.</p>
                </div>
              </div>
              <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-support"></i></div>
                <div class="px-4">
                  <h5>Feminism is for everyone</h5>
                  <p>In nec ante quam. Sed eget nisl sed est consequat fringilla at sed elit. Phasellus ut facilisis purus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Features -->
      </div>
    </div>
  </div>
</div>  
<!-- / Our Services Section -->
<!-- Our Blog Section -->
<div class="blog section section-invert py-4">
  <h3 class="section-title text-center m-5">Research Interests</h3>
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="card-deck">
          <div class="col-md-12 col-lg-4">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/img/card-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Donec nec eros ac consectetur nec </h4>
                <p class="card-text">Donec quam orci, dignissim in mauris id, tincidunt iaculis ex. Fusce egestas nisl at quam vehicula, sit amet mollis libero fringilla...</p>
                <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/img/card-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Integer a tristique enim auctor</h4>
                <p class="card-text">Etiam ut nunc nec diam dictum facilisis. Nunc id vehicula metus, id auctor ligula. Nam bibendum augue vitae purus rutrum...</p>
                <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card mb-4">
              <img class="card-img-top" src="assets/img/card-2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Nunc vitae posuere enim porttitor tellus</h4>
                <p class="card-text">Duis pulvinar leo a ultricies venenatis. Curabitur mollis viverra hendrerit. Maecenas ultricies a sem in mattis. Nulla pharetra...</p>
                <a class="btn btn-primary btn-pill" href="#">Read More &rarr;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Our Blog Section -->
<!-- Team Section -->
<div class="testimonials section py-4">
  <h3 class="section-title text-center m-5">The Team</h3>
  <div class="container py-5">
    <div class="example col-md-12 ml-auto mr-auto">
      <div class="row">
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #0067f4"></div>
            <span class="title">Professor Muzlifah Haniffa</span>
            <div class="hex-value">Wellcome Trust Senior Research Fellow</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #5A6169"></div>
            <span class="title">Dr Gary Reynolds</span>
            <div class="hex-value">Clinical lecturer</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #00b8d8"></div>
            <span class="title">Dr Rachel Botting</span>
            <div class="hex-value">Research associate</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #ffb400"></div>
            <span class="title">Dr Dorin-Mirel Popescu</span>
            <div class="hex-value">Research associate</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #c4183c"></div>
            <span class="title">Dr Peter Vegh</span>
            <div class="hex-value">Research associate</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #e9ecef"></div>
            <span class="title">Dr Elizabeth Poyner</span>
            <div class="hex-value">Associate clinical researcher</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #212529"></div>
            <span class="title">Emily Stephenson</span>
            <div class="hex-value">Research assistant</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #c4183c"></div>
            <span class="title">Kile Green</span>
            <div class="hex-value">Research assistant</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #ffb400"></div>
            <span class="title">David Dixon</span>
            <div class="hex-value">PhD student</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #00b8d8"></div>
            <span class="title">James Fletcher</span>
            <div class="hex-value">PhD student</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #e9ecef"></div>
            <span class="title">Dr Elizabeth Poyner</span>
            <div class="hex-value">Associate clinical researcher</div>
          </div>
        </div>
        <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
          <div class="color">
            <div class="swatch" style="background: #212529"></div>
            <span class="title">Emily Stephenson</span>
            <div class="hex-value">Research assistant</div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<!-- / Team Section -->
