---
layout: default
---
<div class="team-profile section py-4">
  <h3 class="section-title text-center m-5">{{ page.name }}
    <span class="team-position">{{ page.subject }}</span>
  </h3>
  <div class="container py-5">
    <div class="example col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 student-quote">
            &ldquo;A quote about what you learnt or how you feel about your experience of working in the lab&rdquo;
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-fluid profile-img" src="/assets/img/team/{{ page.image }}" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="list-group">
              <li class="list-group-item"><span class="list-item-title">Degree</span>{{ page.qualification }} ({{ page.year }})</li>
              <li class="list-group-item"><span class="list-item-title">Supervisor</span>Dave Horsfall</li>
              <li class="list-group-item"><span class="list-item-title">Research</span>The project focused on testing the performance of the Human Cell Atlas API 
                to determine the optimum Azure cloud architecture for processing large single cell RNA
                sequencing datasets. This involved benchmarking the performance of the
                application on different Azure virtual machines as the dataset size scaled up. Secondly, the
                project will provide suggestions on possible improvements for the backend Python code for
                improving the API efficiencies.</li>
              <li class="list-group-item"><span class="list-item-title">Progression</span>....</li>
            </ul>
                        
          </div>
        </div>
    </div>
  </div>
</div>

 