// Override default bootstrap variables
$primary: #0071a7;
$secondary: #061826;
$body-bg: #fff;
$body-color: #333;
$breadcrumb-divider: quote(">");
$breadcrumb-padding-y: 3px;
$breadcrumb-padding-x: 10px;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: #f8f9fa;


$h1-font: 'Gilroy', sans-serif;
$h1-size: 6rem;
$h1-weight: 900;

$h2-font: 'Poppins', sans-serif;
$h2-size: 3rem;
$h2-weight: 600;

$p-font: 'Poppins', sans-serif;
$p-size: 1rem;
$p-weight: 400;


// Override default bootstrap variables
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,700");
$font-family-sans-serif: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

footer {
    font-size: 14px;
}

#footer {
    color: rgba(255, 255, 255, 0.75);
    background-color: #282828;
    position: relative;
    border-top: 5px solid rgba(0, 0, 0, .2);
}


#copyright {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.9);
}

#welcome {
    scroll-margin-top: 170px;
}

#culture {
    background-color: #f9f9f9;
}

.branding {
    padding-right: 40px;
}

.brand {
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -3px;
    background-image: -webkit-linear-gradient(135deg, $secondary 15%, $primary 65%);
    background-image: linear-gradient(135deg, $secondary 15%, $primary 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.brand svg {
    margin-right: 8px;
    transition: 0.3s;
    vertical-align: baseline;
    color: $primary;
}

.brand svg:hover {
    color: rgba(255, 255, 255, 0.75);
}

body .odd {
    color: $secondary;
}

.heropanel--video {
    font-family: sans-serif;
    min-height: 500px;
}

.navbar {
    z-index: 10;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

h4 {
    display: block;
    line-height: 22px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}

#header .nav-link {
    display: block;
    line-height: 28px;
    padding: 14px 10px;
    color: #444;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    margin: 1.5rem 0;
    font-size: $h2-size;
    font-weight: $h2-weight;
    line-height: 1.2;
    font-family: $h2-font;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h2.heading-block::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
}

#research-themes .research-area-bg {
    background: url(assets/images/rse/rse-cover.webp) center center no-repeat;
    background-size: cover;
}

#research-themes {
    background-color: #f9f9f9;
}



@keyframes gm-slidein {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        -webkit-transform: none;
        opacity: 1;
        transform: none;
    }
}

header {
    position: relative;
    z-index: 5;
}


#header .social {
    font-size: 24px;
}


header .navbar-sticky {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    pointer-events: initial;
    top: 0;
    background-color: $body-bg;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.4);
}

header .navbar {
    -webkit-transition: all .15s ease-out 0s !important;
    -o-transition: all .15s ease-out 0s !important;
    -moz-transition: all .15s ease-out 0s !important;
    transition: all .15s ease-out 0s !important;
    /* ! important is necessary to avoid conflict with the AOS animate. */
}






.app-screenshot {
    background: url(assets/images/rse/rse-cover.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
    position: relative;
}

.section-title.underline--left:after {
    left: 0;
    margin-left: 0;
}

.app-screenshot:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e9ecef;
    opacity: .6;
}

.app-screenshot img {
    max-width: 500px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 13px 25px rgba(0, 0, 0, 0.05), 0 60px 100px rgba(192, 192, 192, 0.5);
    overflow: hidden;
}



/* #region Footer */

footer {
    position: relative;
    background-color: var(--footer-bg-color);
}

footer .brand .logo {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .brand .logo img {
    width: auto;
    height: var(--footer-brand-height);
}

footer .brand a:hover {
    text-decoration: none;
}

footer .branding p {
    line-height: 1.85;
}

footer .title {
    margin-top: 0;
}

footer .nav-item {
    margin: 0;
}

footer .nav-item .nav-link {
    display: block;
    word-break: break-all;
    font-weight: 400;
    line-height: 1.4;
    color: inherit;
}



/* #region Slider */

.slider-h-100 {
    width: 100%;
    height: 100vh;
}

.full-slider .inner .center,
.no-slider .inner .center {
    width: 100%;
    padding: 2rem 0;
}

.full-slider .inner,
.no-slider .inner {
    top: 1rem;
    max-width: 1140px;
    padding: 0;
    margin: auto;
}

.full-slider.full-grid .inner,
.no-slider.full-grid .inner {
    max-width: calc(100% - 60px);
}

.full-slider.smaller .inner,
.no-slider.smaller .inner {
    max-width: 940px;
}

.no-slider.slider-h-75 .inner {
    top: 10px;
}

.slide-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-content {
    position: relative;
    z-index: 3;
    width: 100%;
}





.full-image[data-mask="90"] {
    opacity: 0.1;
}

.full-image[data-mask="80"] {
    opacity: 0.2;
}

.full-image[data-mask="70"] {
    opacity: 0.3;
}

.full-image[data-mask="60"] {
    opacity: 0.4;
}

.full-image[data-mask="50"] {
    opacity: 0.5;
}

.full-image[data-mask="40"] {
    opacity: 0.6;
}

.full-image[data-mask="30"] {
    opacity: 0.7;
}

.full-image[data-mask="20"] {
    opacity: 0.8;
}

.full-image[data-mask="10"] {
    opacity: 0.9;
}

.full-image[data-mask="0"] {
    opacity: 1;
}

.full-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



#research-themes .card {
    border: 0;
    border-radius: 0;
}

#research-themes .card .card-img {
    border-radius: 0;
    opacity: 0.1;
}

#research-themes .card {
    border: 0;
    border-radius: 0;
}

#research-themes .card:hover .card-img {
    transform: scale(1.05);
}

#research-themes .card:hover .card-img-overlay {
    background-color: rgba(0, 113, 167, 0.5)
}

#research-themes .card .card-caption {
    position: absolute;
    width: calc(100% - 2 * $card-img-overlay-padding);
    bottom: 0;
}

#research-themes .card .card-caption .card-title {
    padding: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, .25);
}

#research-themes .card .card-caption .card-text {
    padding: 20px 0;

}